/* bouton burger mobile */
.btn-burger div {
  height: 3px;
  width: 30px;
  background-color: var(--pinkmo);
  margin: 5px 0;
  transition: all 0.3s ease;
}

.btn-burger {
  display: none;
}

.mobile-nav {
  display: none;
}

.greenL {
  color: #B5BAFF;
}

.greenE {
  color: #16632F;
}

.biblbg {
  color: #ECDC92;
}

.surf {
  color: lightcoral;
}

/* grid */
h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 4%;
  margin-top: 3%;
  font-family: "Fredoka One", "Arial";
  font-size: 1.4rem;
}

#proj {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  text-align: center;
  border-radius: 10px;
  width: 1200px;
  height: 1476px;
  margin: 1% auto;
  padding: 3%;
  gap: 4%;
}


#proj img {
  width: 500px;
  height: 250px;
  border-radius: 5px;
}

#proj h3 {
  display: block;
  margin-top: 2%;
  width: 77%;
  margin-left: 12%;
  justify-content: center;
}

#proj h3 a,
h4 a {
  text-decoration: none;
}

.proj-1 {
  grid-column: 1;
  grid-row: 1;
}

.proj-2 {
  grid-column: 2;
  grid-row: 1;
}

.proj-3 {
  grid-column: 1;
  grid-row: 2;
}

.proj-4 {
  grid-column: 2;
  grid-row: 2;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* ?footer resize full window */
@media screen and (max-width: 780px) {
  h2 {
    text-align: center;
    width: 80%;
    margin: 1% auto;
    font-size: 140%;
    margin-top: 6%;
  }

  #proj h3 {
    margin-top: 5%;
  }

  /* grid */
  #proj {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    text-align: center;
    width: 90%;
    height: 2500px;
    margin: 8% auto;
    gap: 4%;
  }


  #proj img {
    width: 300px;
    height: 150px;
  }

  .proj-1 {
    margin-top: 8%;
    grid-column: 1;
    grid-row: 1;
  }

  .proj-2 {
    grid-column: 1;
    grid-row: 2;
  }

  .proj-3 {
    grid-column: 1;
    grid-row: 3;
  }

  .proj-4 {
    grid-column: 1;
    grid-row: 4;
  }

  .proj-5 {
    grid-column: 1;
    grid-row: 5;
  }

  .proj-6 {
    grid-column: 1;
    grid-row: 6;
  }
}

/*  */
/*  */
/*  */
/*? mobile size */
/* ?400 x 786 */
@media screen and (max-width: 600px) {

  /* grid */
  #proj {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    text-align: center;
    width: 90%;
    height: 2500px;
    margin: 8% auto;
    gap: 4%;
  }

  h2 {
    font-size: 1rem;
  }

  #proj img {
    width: 300px;
    height: 150px;
  }

  .proj-1 {
    margin-top: 8%;
    grid-column: 1;
    grid-row: 1;
  }

  .proj-2 {
    grid-column: 1;
    grid-row: 2;
  }

  .proj-3 {
    grid-column: 1;
    grid-row: 3;
  }

  .proj-4 {
    grid-column: 1;
    grid-row: 4;
  }

  .proj-5 {
    grid-column: 1;
    grid-row: 5;
  }

  .proj-6 {
    grid-column: 1;
    grid-row: 6;
  }
}